:root {
    --bgRed: #e71d36;
    --bgWhite: #fff3f4;
    --darkRed: #0e0103;
}

html {
    overflow-x: hidden;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bgWhite);
}

.selected {
    background-color: #ba1a2c !important;
}

.sidebarMenu {
    width: 16rem !important;
    /* background-color: var(--darkRed); */
}

h3 {
    color: var(--darkRed);
}

.firstMenus a {
    background-color: transparent;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
}

.firstMenus a:hover,
.categoryBtn:hover {
    background-color: #e71d3549 !important;
}

.container-fluid {
    margin-left: 18rem;
    margin-top: 2rem;
}

.profile {
    padding-bottom: 0.3rem;
}

.profilePicture {
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 50%;
}

.profilePicture:hover {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.profile p {
    font-weight: 500;
    color: var(--darkRed);
}

.navbar {
    margin-left: 14.5rem;
}

.form-control {
    width: 55rem;
    height: 2.7rem;
}

/* hamburgermenu */
.bi-list {
    font-size: 2.5em;
}

.garis {
    width: 12.5rem;
    height: 0.1rem;
    background-color: #420b11;
}

.sidebarMenu {
    background-image: url(/img/patern2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.categoryBtn {
    width: 14rem;
    height: 3rem;
    background-color: transparent;
    border: none;
}

.dropdown-menu {
    width: 14rem;
}

.dropdown-menu a:hover {
    background-color: #e71d3549;
}

.addBtn {
    border: 1px solid var(--darkRed);
    width: 10rem;
    height: 6rem;
}

.addItemBtn {
    position: absolute;
    right: 4.2rem;
    top: 7.2rem;
}

.table {
    width: 77%;
    margin-left: 0.8rem;
}

.table-head th {
    padding: 12px;
    /* background-color: var(--darkRed); */
    color: white;
    text-align: center;
    background-image: url(/img/patern2.png);
    background-repeat: no-repeat;
    /* background-size: cover; */
}

.table tbody td {
    padding: 12px;
    text-align: center;
}

.tdBtn button.deleteBtn {
    border: 1px solid transparent;
    background-color: #e60e20;
    color: white;
}

.tdBtn button.deleteBtn:hover {
    background-color: #b20d1b;
}

.tdBtn button.editBtn {
    border: 1px solid transparent;
    background-color: var(--darkRed);
    color: white;
}

.tdBtn button.editBtn:hover {
    opacity: 0.8;
}

td.tdBtn {
    width: 20rem;
}

.tdBtn button {
    width: 5rem;
}

/* .itemsRow:nth-child(odd) {
    background-color: #ffff00 !important;
  } */
